{% extends 'base.html' %}
{% block content %}

<style>
.table td {
  text-align: center;
}
</style>

<div class="container invisible" id="league-standings-header-container">

  <div class="row text-center league-standings-header-row">
    <div class="col-md-12">
      <h2 class="text-center league-standings-header-text">Season <span id="standings-header-season-number">_</span> Standings</h2>
    </div>
  </div>

</div>

<div class="container invisible" id="league-standings-date-picker-container">
  <div class="row justify-content-lg-center" id="date-picker-container">
    <div class="col-lg-2 text-center" id="date-picker-season-chooser">
        <label for="season">Season:</label><br />
        <select name="season" class="season-picker-dropdown" id="season-picker-select">
            <!--
            <option value="1">1</option>
            -->
        </select>
    </div>
    <div class="col-lg-2 text-center" id="date-picker-day-chooser">
        <label for="day">Day:</label><br />
        <select name="day" class="season-picker-dropdown" id="day-picker-select" width=100px>
            <!--
            <option value="1">1</option>
            -->
        </select>

    </div>

</div>



<div class="container" id="league-standings-container2">

  <!-- league 1 -->
  <div class="row text-center justify-content-lg-center league-standings-league-header-row">
    <div class="col-md-12">
      <h2 class="text-center league-standings-league-header-text"><span id="league-1-name"></span></h2>
    </div>
  </div>

  <div class="row justify-content-lg-center">

    <div class="col-lg-6">

        <h4 class="text-center league-standings-division-header-text"><span id="league-1-division-1-name"></span></h4>

        <table class="table table-bordered table-sm" style="background-color: #32383e; padding: 0.75rem 1.25rem; border: 1px solid rgba(0, 0, 0, 0.6);">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">W</th>
              <th scope="col">L</th>
              <th scope="col">TP</th>
              <th scope="col">GB</th>
              <th scope="col">E</th>
              <th scope="col">WCE</th>
            </tr>
        
            <tr>
              <td scope="col" style="text-align: left;">
                  <h6 class="standings-team-name">
                  <span id="league-name-icon-holder"><span id="team-icon-container-btx2" class="icon-container league-icon-container text-center"><object type="image/svg+xml" rel="prefetch" data="../img/btx2.svg" height="25" width="25" id="team-icon-btx2" class="icon team-icon"></object></span></span>
                  <span style="color: rgb(62, 146, 204);">Baltimore Texas II</span>
                  </h6>
              </td>
              <td scope="col">
                  <h6 id="team-record-btx2">
                      32
                  </h6>
              </td>
              <th scope="col">
                  <h6 id="team-record-btx2">
                      17
                  </h6>
              </td>
              <td scope="col">
                  <h6 id="team-record-btx2">
                      <span class="standings-tp">92,817</span>
                  </h6>
              </td>
              <td scope="col">
                  <h6 id="team-record-btx2">
                      <span class="standings-gb">-</span>
                  </h6>
              </td>
              <td scope="col">
                  <h6 id="team-record-btx2">
                      <span class="standings-elim">-</span>
                  </h6>
              </td>
              <td scope="col">
                  <h6 id="team-record-btx2">
                      <span class="standings-wcelim">-</span>
                  </h6>
              </td>
        </table>

    </div>

    <div class="col-lg-6">

      <h4 class="text-center league-standings-division-header-text"><span id="league-1-division-2-name"></span></h4>

      <table class="table table-bordered table-sm" style="background-color: #32383e; padding: 0.75rem 1.25rem; border: 1px solid rgba(0, 0, 0, 0.6);">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">TP</th>
            <th scope="col">GB</th>
            <th scope="col">E</th>
            <th scope="col">WCE</th>
          </tr>
      
          <tr>
            <td scope="col" style="text-align: left;">
                <h6 class="standings-team-name">
                <span id="league-name-icon-holder"><span id="team-icon-container-btx2" class="icon-container league-icon-container text-center"><object type="image/svg+xml" rel="prefetch" data="../img/btx2.svg" height="25" width="25" id="team-icon-btx2" class="icon team-icon"></object></span></span>
                <span style="color: rgb(62, 146, 204);">Baltimore Texas II</span>
                </h6>
            </td>
            <td scope="col">
                <h6 id="team-record-btx2">
                    32
                </h6>
            </td>
            <th scope="col">
                <h6 id="team-record-btx2">
                    17
                </h6>
            </td>
            <td scope="col">
                <h6 id="team-record-btx2">
                    <span class="standings-tp">92,817</span>
                </h6>
            </td>
            <td scope="col">
                <h6 id="team-record-btx2">
                    <span class="standings-gb">-</span>
                </h6>
            </td>
            <td scope="col">
                <h6 id="team-record-btx2">
                    <span class="standings-elim">-</span>
                </h6>
            </td>
            <td scope="col">
                <h6 id="team-record-btx2">
                    <span class="standings-wcelim">-</span>
                </h6>
            </td>
      </table>

    </div>

  </div>


  <div class="row justify-content-lg-center">
    <p>
      TP: Total Points <small>[Tiebreaker]</small><br />
      GB: Games Behind<br />
      E: Elimination Number <small>[When this number drops below 0, the team cannot win 1st place in their division.]</small><br />
      WCE: Wild Card Elimination Number <small>[When this number drops below 0, the team is eliminated from the playoffs.]</small><br />
    </p>
  </div>


</div>




<div class="container invisible" id="league-standings-container">

  <!-- league 1 -->
  <div class="row text-center justify-content-lg-center league-standings-league-header-row">
    <div class="col-md-12">
      <h2 class="text-center league-standings-league-header-text"><span id="league-1-name"></span></h2>
    </div>
  </div>

  <div class="row justify-content-lg-center" id="league-1-container">

    <div class="col-lg-6" id="league-1-division-1-container">
      <h4 class="text-center league-standings-division-header-text"><span id="league-1-division-1-name"></span></h4>
      <ul class="list-group" id="league-1-division-1-ul">
        <!--
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Team 1
          <span class="standings-record">W-L</span>
        </li>
        -->
      </ul>
    </div>

    <div class="col-lg-6" id="league-1-division-2-container">
      <h4 class="text-center league-standings-division-header-text"><span id="league-1-division-2-name"></span></h4>
      <ul class="list-group" id="league-1-division-2-ul">
        <!--
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Team 1
          <span class="standings-record">W-L</span>
        </li>
        -->
      </ul>
    </div>

  </div>

  <!-- league 2 -->
  <div class="row text-center justify-content-lg-center league-standings-league-header-row">
    <div class="col-md-8">
      <h2 class="text-center league-standings-league-header-text"><span id="league-2-name"></span></h2>
    </div>
  </div>

  <div class="row justify-content-lg-center" id="league-2-container">

    <div class="col-lg-5" id="league-2-division-1-container">
      <h4 class="text-center league-standings-division-header-text"><span id="league-2-division-1-name"></span></h4>
      <ul class="list-group" id="league-2-division-1-ul">
        <!--
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Team 1
          <span class="standings-record">W-L</span>
        </li>
        -->
      </ul>
    </div>

    <div class="col-lg-5" id="league-2-division-1-container">
      <h4 class="text-center league-standings-division-header-text"><span id="league-2-division-2-name"></span></h4>
      <ul class="list-group" id="league-2-division-2-ul">
        <!--
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Team 1
          <span class="standings-record">W-L</span>
        </li>
        -->
      </ul>
    </div>

  </div>

</div>


<div class="container invisible" id="container-loading">

    <div class="row text-center notify-header">
      <div class="col-md-12">
        <h4 class="text-success">The site is currently loading...</h4>
      </div>
    </div>

</div>

<div class="container invisible" id="container-error">

    <div class="row text-center notify-header">
      <div class="col-md-12">
        <h2 class="text-danger">The site has experienced a technical glitch.</h2>
      </div>
    </div>

    <div class="row text-center notify-body">
      <div class="col-md-12">
        <p>
        Ninjas have been dispatched to track down those responsible for the downtime
        and bring them back to Hellmouth Community College to fix the site.
        </p>
      </div>
    </div>

</div>

<noscript>
  <div class="container" id="container-noscript">
    <div class="row text-center landing-header">
      <div class="col-md-12">
        <h2 class="text-danger">You must have Javascript enabled to view this site.</h2>
      </div>
    </div>
  </div>
</noscript>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="league.js"></script>
{% endblock %}
